
forecast/data-ingestion/.ipynb_checkpoints/ingestion-checkpoint.ipynb
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/my-crypto-world.iml
forecast/data-ingestion/.ipynb_checkpoints/requirements-checkpoint.txt
.idea/vcs.xml
