
forecast/data-ingestion/.ipynb_checkpoints/ingestion-checkpoint.ipynb
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/my-crypto-world.iml
forecast/data-ingestion/.ipynb_checkpoints/requirements-checkpoint.txt
.idea/vcs.xml
.metaflow/*
technical_analysis/.metaflow/*
technical_analysis/my_talib/__pycache__/*
technical_analysis/notification/__pycache__/*
technical_analysis/__pycache__/*
.vscode/launch.json
.DS_Store
forecast/notification/__pycache__/Notification.cpython-38.pyc
forecast/Forecast-jvsc-7df14eb1-7631-4a6b-a81c-6e570e880f14.ipynb
forecast/.ipynb_checkpoints/Forecast-jvsc-7df14eb1-7631-4a6b-a81c-6e570e880f14-checkpoint.ipynb
forecast/notification/__pycache__/Notification.cpython-39.pyc
my_crypto_dashboard
